/*!*********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/style.scss ***!
  \*********************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap);
/*!*************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/style.scss (1) ***!
  \*************************************************************************************************************/
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 1.1rem;
  padding: 0.2rem;
  color: white;
  background-color: rgb(2, 6, 23);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
footer a {
  color: #ff5145;
  font-weight: 500;
  text-decoration: none;
}
footer a:hover {
  color: #428eff;
  cursor: pointer;
}

header {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}

.avatar-container {
  width: 3.75rem;
  height: 3.75rem;
  border: rgb(2, 6, 23) solid 4px;
  border-radius: 24px;
}
.avatar-container:hover {
  position: relative;
  top: 0;
  left: 0;
  box-shadow: 3px 5px rgb(2, 6, 23);
}

#input-container {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  flex: 1;
  height: 2.5rem;
  border: rgb(2, 6, 23) solid 4px;
  border-radius: 24px;
  overflow: scroll;
}
#input-container::placeholder {
  font-weight: 500;
}
#input-container:focus {
  outline: none;
  position: relative;
  top: 0;
  left: 0;
  box-shadow: 3px 5px rgb(2, 6, 23);
}
#input-container:focus + .btn-container {
  position: relative;
  visibility: visible;
}

.btn-container {
  margin-left: -1rem;
}

#cancel-btn,
#project-btn,
#calendar-btn {
  width: 2.5rem;
  height: 2.5rem;
  border: rgb(2, 6, 23) solid 4px;
  border-radius: 24px;
}
#cancel-btn:hover,
#project-btn:hover,
#calendar-btn:hover {
  box-shadow: 3px 5px rgb(2, 6, 23);
  cursor: pointer;
}

#cancel-btn:hover {
  background-color: #ff5145;
}

#project-btn:hover {
  background-color: #ec7c28;
}

#calendar-btn:hover {
  background-color: #428eff;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  max-height: 600px;
}

@media only screen and (min-width: 1024px) {
  main {
    max-width: 900px;
    margin-left: 510px;
  }
}
.board {
  height: 500px;
  border: rgb(2, 6, 23) solid 4px;
  border-radius: 45px;
  box-shadow: 8px 12px rgb(2, 6, 23);
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 0.3fr 1fr;
  grid-template-rows: 0.2fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "project-title tasks-title" "projects-container tasks-container";
  overflow: hidden;
}

.project-title {
  display: flex;
  grid-area: project-title;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: #ffbb01;
  border-right: rgb(2, 6, 23) solid 4px;
  border-bottom: rgb(2, 6, 23) solid 4px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.tasks-title {
  font-size: 2rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: tasks-title;
  border-bottom: rgb(2, 6, 23) solid 4px;
}

.tasks-container {
  grid-area: tasks-container;
}

.projects-container {
  grid-area: projects-container;
  border-right: rgb(2, 6, 23) solid 4px;
  display: flex;
  flex-direction: row;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: white;
}
