@use 'variables';
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 1.1rem;
  padding: 0.2rem;
  color: white;
  background-color: variables.$black;
  text-align: center;
  font-family: variables.$roboto;
  font-weight: 400;
  a {
    color: variables.$red;
    font-weight: 500;
    &:hover {
      color: variables.$blue;
      cursor: pointer;
    }
  }
}
